button[data-md-color-accent],
button[data-md-color-primary] {
  width: 6.5rem;
  margin-bottom: 0.2rem;
  padding: 1.2rem 0.4rem 0.2rem;
  transition: background-color 0.25s, opacity 0.25s;
  border-radius: 0.1rem;
  color: #fff;
  font-size: 0.64rem;
  text-align: left;
  cursor: pointer;
}

button[data-md-color-accent]:hover,
button[data-md-color-primary]:hover {
  opacity: 0.75;
}

button[data-md-color-primary] {
  background-color: var(--color-primary);
}

.md-typeset a {
  color: var(--color-primary);
}

.md-header,
.md-hero {
  background-color: var(--color-primary);
}

.md-nav__link--active,
.md-nav__link:active {
  color: var(--color-primary);
}

.md-nav__item--nested > .md-nav__link {
  color: inherit;
}

button[data-md-color-accent] {
  background-color: var(--color-accent);
}

.md-typeset a:active,
.md-typeset a:hover {
  color: var(--color-accent);
}

.md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover,
.md-typeset pre code::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.md-nav__link:focus,
.md-nav__link:hover,
.md-typeset .footnote li:hover .footnote-backref:hover,
.md-typeset .footnote li:target .footnote-backref,
.md-typeset .md-clipboard:active:before,
.md-typeset .md-clipboard:hover:before,
.md-typeset [id] .headerlink:focus,
.md-typeset [id]:hover .headerlink:hover,
.md-typeset [id]:target .headerlink {
  color: var(--color-accent);
}

.md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.md-search-result__link:hover,
.md-search-result__link[data-md-state="active"] {
  background-color: rgba(255, 23, 68, 0.1);
}

.md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}

.md-source-file:hover:before {
  background-color: var(--color-accent);
}

@media only screen and (max-width: 59.9375em) {
  .md-nav__source {
    background-color: var(--color-primary);
  }
}

@media only screen and (max-width: 76.1875em) {
  html .md-nav--primary .md-nav__title--site {
    background-color: var(--color-primary);
  }
}

@media only screen and (min-width: 76.25em) {
  .md-tabs {
    background-color: var(--color-primary);
  }
}
