.md-nav--primary ul,
.md-nav--primary ul li ul,
.md-nav--secondary ul,
.md-nav--secondary ul li ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.md-nav--primary ul li,
.md-nav--primary ul li ul li,
.md-nav--secondary ul li,
.md-nav--secondary ul li ul li {
  padding: 0 0.6rem;
}

.md-nav--primary a.reference,
.md-nav--secondary a.reference {
  display: block;
  margin-top: 0.625em;
  transition: color 0.125s;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
}

.md-typeset td p,
.md-typeset th p {
  margin: 0;
}

.md-typeset .admonition,
.md-typeset details {
  font-size: 0.8rem;
}

.classifier:before {
  font-style: normal;
  margin: 0.5em;
  content: ":";
}

dl.footnote > dt,
dl.citation > dt {
  float: left;
}

code.xref {
  background-color: transparent;
  font-weight: bold;
}

table.docutils {
  width: 100%;
}

.longtable tr td:first-child {
  width: 50%;
  white-space: nowrap;
}

dt:target {
  margin-top: -3.55rem;
  padding-top: 3.45rem;
}

.md-typeset code {
  margin: 0;
}

ul.search li div.context {
  color: #888;
  margin: 2px 0 0 30px;
  text-align: left;
}

span.highlighted {
  background-color: #fbe54e;
}

p.rubric {
  margin-top: 1rem;
  font-weight: bold;
}

dl.field-list > dt {
  font-weight: bold;
  word-break: break-word;
  padding-left: 0.5em;
  padding-right: 5px;
}

table.longtable {
  border-collapse: collapse;
}

.longtable tr {
  border: solid;
  border-width: 1px 0;
}

.longtable tr:first-child {
  border-top: none;
}

.md-tabs code,
kbd,
pre,
.md-footer-nav code,
kbd,
pre {
  color: rgb(255, 255, 255);
}

.toctree-wrapper.compound li {
  list-style: none;
  padding: 0;
  margin: 0 0 0.1rem 0.2rem;
}

table.indextable.genindextable li {
  margin: 0 0.5rem;
}

table.indextable.genindextable li ul li {
  list-style: none;
}

p.highlight-link {
  margin: 0.625rem 0 0 0;
}

table.longtable.docutils.align-default {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 40em) {
  table.longtable.docutils.align-default {
    display: block;
  }

  .longtable.docutils.align-default td {
    padding-right: 1rem;
  }
}

.md-nav__extra_link:after {
  font-family: Material Icons;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
}

.md-nav__extra_link {
  display: block;
  margin-top: 0.625em;
  transition: color 0.125s;
  text-overflow: ellipsis;
  cursor: pointer;
  overflow: hidden;
}

.md-nav__extra_link:active {
  color: #3f51b5;
}

.md-nav__extra_link:focus,
.md-nav__extra_link:hover {
  color: #536dfe;
}

@media only screen and (max-width: 76.1875em) {
  .md-nav--primary .md-nav--secondary .md-nav__extra_link {
    position: static;
  }

  .md-nav--primary .md-nav--secondary .md-nav .md-nav__extra_link {
    padding-left: 1.4rem;
  }

  .md-nav--primary
    .md-nav--secondary
    .md-nav
    .md-nav
    .md-nav
    .md-nav__extra_link {
    padding-left: 2.6rem;
  }
}

.md-nav__extra_link:active {
  color: var(--color-primary);
}

.md-nav__item--nested > .md-nav__extra_link {
  color: inherit;
}

.md-nav__extra_link:focus,
.md-nav__extra_link:hover {
  color: var(--color-accent);
}

div.rendered_html table {
  font-size: 0.8rem !important;
}

/* TODO: This is hacky; should have own class and not derive from link */
.md-nav span.caption {
  font-weight: 700;
  pointer-events: none;
}

.md-nav span.caption:hover,
.md-nav span.caption:active {
  color: #000;
}

.md-typeset img.align-right {
  clear: right;
  float: right;
  margin-left: 1em;
}

.md-typeset img.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* GH 93 */
dl.citation dt span.brackets {
  margin-right: 0.3rem;
}

.md-footer-acknowledgements img {
    height: 30px;
    margin: 5px;
}
